body {
  position: relative;
  overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  .cabecera {
    text-align: left;
    margin-left:15px;
    padding: 5px 0 10px;
    margin-bottom: 5px;

    .uno-parr{
      color:#9dc100;
      padding: 1px 0 1px 0;
      margin: 0;
      font-size:18px;

    }
    .uno-sub{
      color:black;
      font-size:13px;

    }

  }
}

#wrapper.toggled {
  padding-left: 0px;
  color: #9dc100;

}

#sidebar-wrapper {
  z-index: 1000;
  left: 220px;
  width: 0;
  height: 100%;
  margin-left: 855px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #1a1a1a;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}

#page-content-wrapper {
  width: 100%;
  padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  position: relative; 
  line-height: 20px;
  display: inline-block;
  width: 100%;
}

.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #1c1c1c;
  -webkit-transition: width .2s ease-in;
  -moz-transition:  width .2s ease-in;
  -ms-transition:  width .2s ease-in;
  transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
  color: #fff;
  background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
  background-color: #ec1b5a;   
}
.sidebar-nav li:nth-child(3):before {
  background-color: #79aefe;   
}
.sidebar-nav li:nth-child(4):before {
  background-color: #314190;   
}
.sidebar-nav li:nth-child(5):before {
  background-color: #279636;   
}
.sidebar-nav li:nth-child(6):before {
  background-color: #7d5d81;   
}
.sidebar-nav li:nth-child(7):before {
  background-color: #ead24c;   
}
.sidebar-nav li:nth-child(8):before {
  background-color: #2d2366;   
}
.sidebar-nav li:nth-child(9):before {
  background-color: #35acdf;   
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
  -moz-transition:  width .2s ease-in;
  -ms-transition:  width .2s ease-in;
  transition: width .2s ease-in;

}

.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 44px;
}
.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #222;
  box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 65px;
  z-index: 1030;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 1234px;
  background: 0 0;
  border: none;
  padding: 5px 0 10px;

}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {

  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
  
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;

}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  

  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;

}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
  background-color:#9dc100;
}
.hamburger.is-open .hamb-top { 
  background-color:#9dc100;
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  background-color:#9dc100;
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  background-color:#9dc100;
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 85px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250,250,250,.8);
  z-index: 1;
}
.navbar-fixed-top {
  top: 50px;
  border-width: 0 0 1px;
}


hr{
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px solid #eee;
}

#page-content-wrapper {
  width: 100%;
  padding-top: 0;
  background-color:black;
  color: white;

  .btn-outline{
    background-color:#288EBC;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 5px;

  }

  .navbar-brand{
   a img{
    border-radius:30px;
  }
}
}
.cabecera{
  text-align:center;
}

.carrusel{
  position:relative;
  img{
    max-width:100%;
    height:100vh;
  }
}

.about-us{
  @include seccion-dos();
  .title{
   padding: 45px 0;
   margin-bottom: 12px;
 }

}

.services{
 @include seccion-tres()
 .title{
   padding: 45px 0;
   margin-bottom: 12px;

 }
}

.via-lactea{
  font-family: "pompiere",cursive;
  .container-fluid{
    background-image: url("../img/stat-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 80px;
    padding: 80px 0;
    text-align: center;
  }
  h3{
    color:white;

  }
  h2{
    position: relative;
    bottom: 117px;
    color: white;

  }
  .titulos{
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 30px;
    padding-top: 15px;
    text-transform: capitalize;
  }


}

.collage{
  @include seccion-cinco();
  img{
    width:100%;
  }
}


.photographer{
  @include seccion-seis();
  .title{
    padding: 18px 0;
    margin-bottom: 12px;

  }
  .btn{
    background-color: #9dc100;
    color:white;
    border-radius: 18px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
  }
  .btn:hover {
    background: transparent;
    color: #9dc100;

  }
}


.blog-fotos{
  color:white;
  font-family: 'Lato', sans-serif;
  .container-fluid{
    background-image: url("../img/news-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 80px;
    padding: 80px 0;

  }
  .title {
    color: white;
    font-family: "pompiere",cursive;
    margin-bottom: 43px;
    margin-top: -35px;


  }
  .tres{


    h4{
      font-family: "pompiere",cursive;
      text-align:left;
      padding: 15px 23px;
    }
    p, {
      width:100%;
      text-align:left;
      padding: 15px 23px;
    }
    .things {
      text-align:left;
      padding: 15px 23px;

    }
    
    .btn{
      text-align:left;
      padding: 15px 23;
      background-color: #9dc100;
      color:white;
      border-radius: 18px;
      font-family: 'Lato', sans-serif;
      font-size: 12px;


    }
    .btn:hover {
      background: transparent;
      color: #9dc100;
      text-align:left;
      padding: 15px

    }
  }
}

.redes{
  .red-una{

    font-size: 2em;
    line-height: 35px;
    position: relative;
    transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;

    .fa{
      font: normal normal normal 14px/1;
      width:50%;
    }
    a{
     font-family: "pompiere",cursive;
     color: black;
     padding: 15px 23px 15px;
   }
   a:hover{
     background: transparent;
     color: #9dc100;
   }
 }
}

.last{
  color:#777;
  .container-fluid{
    background-color:#F6F6F6;
  }
  .box-last{
    h4{
      font-family: "pompiere",cursive;
      color: black;
      text-align:left;
      font-size:30px;
      padding: 15px 23px;
    }
    p,{
      text-align:left;
      padding: 15px 23px;
    }
    form{
      font-family: 'Lato', sans-serif;
      text-align:left;
      padding: 15px 23px;
    }
  }
  .text-center {
    text-align: left;
  }
  .contac{
   padding: 15px 23px;
   a{
    color:#777;
  }
}
.las-last{
  .btn{
    width: 87%;
    padding: 6px 23px;
    background-color: #777;
    color: #fff;
    border-radius: 33px;
    font-size: 15px;
    text-align: center;
  }
}
.btn:hover {
  background: transparent;
  color: #9dc100;
  text-align:left;
  padding: 6px 23px;
  text-align:center;

}


}

footer{
  p {
    margin: 15px 23px;
  }
  span{
    color: #9dc100;
  }
  .iconos{
   text-align:right;
   margin: -35px 43px;
   top:50px;
   i .fa{
    width:20%;
    max-width:100%;
    display:inline-block;

  }
}
}

